<IfModule mod_mime.c>
  AddType application/javascript js mjs
  AddType text/css css
  AddType image/png png
  AddType image/svg+xml svg svgz
  AddType image/x-icon ico
  AddType text/woff2 woff2
  AddType text/woff woff
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /frontend/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /frontend/index.html [QSA,L]
</IfModule>