.header {
  /* border: 1px aqua solid; */
  text-align: center;
  max-width: 880px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header__logo {
  width: 125px;
  height: 80px;
  cursor: pointer;
  margin: 0;
  padding-left: 5px;
  padding-bottom: 50px;
  padding-top: 5px;
  /* border: 1px red solid; */
  cursor: pointer;
}
.header__button {
  position: relative;
  top: 10px;
  /* right: 80px; */
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-family: Inter;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.1;
  letter-spacing: 0;
  text-align: center;
}
.header__favs-button {
  position: relative;
  top: 10px;
  /* right: 80px; */
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-family: Inter;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.1;
  letter-spacing: 0;
  text-align: center;
}
.header__title {
  font-family: "IstokWeb", sans-serif;
  font-size: 18px;
}

.header__line {
  /* Line */
  position: absolute;
  width: 80%;
  height: 0;
  left: 10vw;
  top: 100px;
  opacity: 0.7;
  border: 1px solid rgb(162, 236, 236);
}
.header__user-name {
  font-size: 14px;
}
.header__user-message {
  font-size: 12px;
  color: orange;
}

.header__user-info {
  /* border: 1px solid antiquewhite; */
  height: 40px;
  width: 50vw;
  position: absolute;
  top: 35px;
  right: 125px;
  font-family: Inter;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: white;
  gap: 5px;
}

@media screen AND (max-width: 400px) {
  .header__logo {
    content: url("../images/LogoPeq.png");
    width: 79px;
    height: 16;
  }
}
