.modal-overlay {
  position: absolute;
  width: 50vw;
  height: 70vh;
  top: 25vh;
  left: 50%;
  transform: translateX(-50%);
  background: black;
  border: 1px solid white;
  border-radius: 5px;
  opacity: 0.95;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; /* Cambiado de center a flex-start */
  gap: 5px;
  z-index: 10;
}
.popup__container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  /* border: 1px solid aqua; */
  position: relative;
  z-index: 5;
}
.popup__cerrar {
  position: absolute;
  width: 23px;
  height: 23px;
  right: 0;
  top: -27px;
  cursor: pointer;
  z-index: 10;
}
.popup__cerrar:hover {
  transform: scale(1.2);
  opacity: 0.8;
}
.popup__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.popup__field {
  font-family: Inter;
  font-weight: normal;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0%;
  border: 0;
  box-sizing: border-box;
  border-bottom: 1px solid #bcbcc4;
  background-color: transparent;
  width: 40vw;
  height: 8vh;
}
.popup__input {
  width: 95%;
  background-color: black;
  color: white;
  border-style: none;
}
.popup__button {
  font-family: Inter;
  font-weight: normal;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0%;
  width: 20vw;
  height: 50px;
  border: 1px #c4c4c4 solid;
  background-color: black;
  color: white;
  border-radius: 5px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.popup__button_disabled {
  background: gray;
  color: rgba(62, 58, 58, 0.541);
  border: 1px gray solid;
  transition: background 0.2s;
}
.modal__message {
  margin: 0;
  background-color: white;
  height: 100%;
}
.popup__message {
  text-align: center;
  font-family: Inter;
  font-weight: normal;
  font-size: 10px;
  color: white;
}
.popup__footer {
  height: 10%;
  font-family: Inter;
  font-weight: normal;
  font-size: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.popup__img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.popup__image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.movie__image-container {
  margin: 0 20px 20px 20px;
  text-align: center;
  background-color: rgb(60, 58, 58);
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding: 5px;
  z-index: 5;
}
.movie__info-container {
  /* border: 1px solid aqua; */
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  gap: 10px;
  z-index: 5;
}
.movie__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
  gap: 10px;
  z-index: 5;
}
.movie__text {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  color: white;
}

.popup__heading {
  font-family: Inter;
  font-weight: bold;
  font-size: 24px;
  text-shadow:
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 30px #e68600,
    0 0 40px #e68600,
    0 0 50px #931de1,
    0 0 60px #931de1,
    0 0 70px #e60073;
  color: white;
  margin: 10px 0 20px 0;
  text-align: center;
  position: relative;
  z-index: 10;
}
